/*
- H1 testo rosso
- div generati casualmente con dimensione 50x50 e colore di sfondo grigio
- div finale con sfondo rosso e testo bianco
*/
h1 {
	color: red;
}
div.random {
	width: 50px;
	height: 50px;
	background-color: gray;
	margin: 5px;
}
div.footer {
	background-color: red;
	color: white;
	padding: 10px;
	margin-top: 10px;
}