/* 
- H1 con testo rosso
- div dispari con sfondo grigio e testo bianco
- div pari con sfondo nero e testo bianco
- div finale con sfondo rosso e testo bianco
*/

h1 {
	color: red;
}
div.dispari {
	background-color: gray;
	color: white;
	padding: 10px;
	margin: 5px;
}
div.pari {
	background-color: black;
	color: white;
	padding: 10px;
	margin: 5px;
}
div.ultimo {
	background-color: red;
	color: white;
	padding: 10px;
	margin: 5px;
}