/*
- H1 con sfondo rosso e testo bianco
- i div numerati con sfondo blu e testo bianco
- il div di chiusura con sfondo nero e testo bianco
*/
h1 {
	background-color: red;
	color: white;
	padding: 10px;
}
div.numbered {
	background-color: blue;
	color: white;
	padding: 10px;
	margin: 5px 0;
}
div.closing {
	background-color: black;
	color: white;
	padding: 10px;
	margin-top: 10px;
}